
# Flask settings
FLASK_APP=autoapp.py
FLASK_DEBUG=0
FLASK_ENV=production

DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST:PORT/postgres?sslmode=require
# Supabase configuration
SUPABASE_URL=url
SUPABASE_KEY=key
SECRET_KEY=secret

# Gunicorn settings
GUNICORN_BIND=0.0.0.0:8000
GUNICORN_WORKERS=4
LOG_LEVEL=info

SEND_FILE_MAX_AGE_DEFAULT = 0
