# Flask settings
FLASK_APP=autoapp.py
FLASK_DEBUG=0
FLASK_ENV=production

# Supabase configuration
SUPABASE_URL=url
SUPABASE_KEY=key
SECRET_KEY=secret

# Gunicorn settings
GUNICORN_BIND=0.0.0.0:8000
GUNICORN_WORKERS=4
LOG_LEVEL=info
